
.containerSection-1 {
    height: 100%;
    
        
    header.headerIndex {
        height: 60px;
        
        nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 10px  20px;

            h1 {
                font-size: 40px;
                font-family: 'Roboto', sans-serif;
                letter-spacing: 3px;
            }
        }
    }
    section.sectionOne {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap-reverse;

        @media (max-width: 1000px) {
            margin-top: 50px;
        }

        div.img {
            display: flex;
            justify-content: center;

            @media (max-width: 1000px) {
                width: 100%;
            }

            img {
                width: 500px;
                opacity: 0.8;

                @media (max-width: 1232px) {
                    width: 400px;
                }

                @media (max-width: 1118px) {
                    width: 300px;
                }

                @media (max-width: 1000px) {
                    width: 350px;
                }

                @media (max-width: 425px) {
                    width: 300px;
                }
            }
        }

        div.sectionOneContent {
            margin-top: 20px;
            width: 600px;
            margin-left: 10%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;


            h3 {
                /* font-size: 30px; */
                font-size: clamp(20px, 2.5vw, 2rem); 
                

                &::before {
                    display: block;
                    font-size: 12px;
                    content: " <div>";
                    text-indent: -30px;
                }
            }

            h1 {
                /* font-size: 50px; */
                font-size: clamp(40px, 2.5vw, 3rem); 
                text-indent: 10px;
            }

            h3.h3-id {
                margin-left: 20px;
                opacity: 0.9;
                &::before {
                    content: "";
                }
            }

            p {
                /* font-size: 20px; */
                padding: 5px;
                font-size: clamp(17px, 2.5vw, 1.4rem); 
                text-indent: 15px;
                

                &::after {
                    font-size: 12px;
                    display: block;
                    content: " </div>";
                    text-indent: -30px;
                }
            }

            .bounce-top {
                animation: bounce-top 1.5s both;
            }

            @keyframes bounce-top {
                0% {
                    transform: translateY(-45px);
                    animation-timing-function: ease-in;
                    opacity: 1;
                }
                24% {
                    opacity: 1;
                }
                40% {
                    transform: translateY(-24px);
                    animation-timing-function: ease-in;
                }
                65% {
                    transform: translateY(-12px);
                    animation-timing-function: ease-in;
                }
                82% {
                    transform: translateY(-6px);
                    animation-timing-function: ease-in;
                }
                93% {
                    transform: translateY(-4px);
                    animation-timing-function: ease-in;
                }
                25%,
                55%,
                75%,
                87% {
                    transform: translateY(0px);
                    animation-timing-function: ease-out;
                }
                100% {
                    transform: translateY(0px);
                    animation-timing-function: ease-out;
                    opacity: 1;
                    }
                }

            .download-button {
                margin-top: 20px;
                position: relative;
                border-width: 0;
                color: white;
                font-size: 15px;
                font-weight: 600;
                border-radius: 4px;
                z-index: 1;
                width: 150px;
                cursor: pointer;
            }
            
                .download-button .docs {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                gap: 10px;
                min-height: 40px;
                padding: 0 10px;
                border-radius: 4px;
                z-index: 1;
                background-color: #12151a;
                border: solid 1px #e8e8e82d;
                -webkit-transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
                transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
                }
            
                .download-button:hover {
                -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                }
            
                .download {
                position: absolute;
                inset: 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                max-width: 90%;
                margin: 0 auto;
                z-index: -1;
                border-radius: 4px;
                -webkit-transform: translateY(0%);
                    -ms-transform: translateY(0%);
                        transform: translateY(0%);
                background-color: #fff;
                border: solid 1px #01e0572d;
                -webkit-transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
                transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
                }
            
                .download-button:hover .download {
                -webkit-transform: translateY(100%);
                    -ms-transform: translateY(100%);
                        transform: translateY(100%);
                }
                
                .download svg polyline,.download svg line {
                -webkit-animation: docs 1s infinite;
                        animation: docs 1s infinite;
                }
                
                @-webkit-keyframes docs {
                0% {
                    -webkit-transform: translateY(0%);
                        transform: translateY(0%);
                }
                
                50% {
                    -webkit-transform: translateY(-15%);
                            transform: translateY(-15%);
                }
                
                100% {
                    -webkit-transform: translateY(0%);
                            transform: translateY(0%);
                }
                }
                
                @keyframes docs {
                0% {
                    -webkit-transform: translateY(0%);
                        transform: translateY(0%);
                }
                
                50% {
                    -webkit-transform: translateY(-15%);
                        transform: translateY(-15%);
                }
                
                100% {
                    -webkit-transform: translateY(0%);
                            transform: translateY(0%);
                }
                }
        }
    }

    section.sectionTwo {
        div.arrowDowGif {
            width: 100%;
            height: 10vh;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            img {
                width: 80px;
            }
        }
    }
    section.sectionThree {
        /* background-color: #fff; */
        height: 50vh;
        display: flex;
        justify-content: end;
        margin-right: 15px;
        padding: 15px;


        div.sectionThreeContent1 {
            width: 600px;
            padding-top: 50px;
            
            h1 {
                font-size: clamp(30px, 2vw, 2rem); 
            }

            p {
                font-size: clamp(15px, 2.5vw, 1.3rem); 
                text-indent: 30px;
                text-align: justify;
                margin-top: 10px;
            }

            .bounce-top {
                animation: bounce-top 1.5s both;
            }

            @keyframes bounce-top {
                0% {
                    transform: translateY(-45px);
                    animation-timing-function: ease-in;
                    opacity: 1;
                }
                24% {
                    opacity: 1;
                }
                40% {
                    transform: translateY(-24px);
                    animation-timing-function: ease-in;
                }
                65% {
                    transform: translateY(-12px);
                    animation-timing-function: ease-in;
                }
                82% {
                    transform: translateY(-6px);
                    animation-timing-function: ease-in;
                }
                93% {
                    transform: translateY(-4px);
                    animation-timing-function: ease-in;
                }
                25%,
                55%,
                75%,
                87% {
                    transform: translateY(0px);
                    animation-timing-function: ease-out;
                }
                100% {
                    transform: translateY(0px);
                    animation-timing-function: ease-out;
                    opacity: 1;
                    }
                }

            .download-button {
                margin-top: 20px;
                position: relative;
                border-width: 0;
                color: white;
                font-size: 15px;
                font-weight: 600;
                border-radius: 4px;
                z-index: 1;
                width: 150px;
                cursor: pointer;
            }
            
                .download-button .docs {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                gap: 10px;
                min-height: 40px;
                padding: 0 10px;
                border-radius: 4px;
                z-index: 1;
                background-color: #12151a;
                border: solid 1px #e8e8e82d;
                -webkit-transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
                transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
                }
            
                .download-button:hover {
                -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                }
            
                .download {
                position: absolute;
                inset: 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                max-width: 90%;
                margin: 0 auto;
                z-index: -1;
                border-radius: 4px;
                -webkit-transform: translateY(0%);
                    -ms-transform: translateY(0%);
                        transform: translateY(0%);
                background-color: #fff;
                border: solid 1px #01e0572d;
                -webkit-transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
                transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
                }
            
                .download-button:hover .download {
                -webkit-transform: translateY(100%);
                    -ms-transform: translateY(100%);
                        transform: translateY(100%);
                }
                
                .download svg polyline,.download svg line {
                -webkit-animation: docs 1s infinite;
                        animation: docs 1s infinite;
                }
                
                @-webkit-keyframes docs {
                0% {
                    -webkit-transform: translateY(0%);
                        transform: translateY(0%);
                }
                
                50% {
                    -webkit-transform: translateY(-15%);
                            transform: translateY(-15%);
                }
                
                100% {
                    -webkit-transform: translateY(0%);
                            transform: translateY(0%);
                }
                }
                
                @keyframes docs {
                0% {
                    -webkit-transform: translateY(0%);
                        transform: translateY(0%);
                }
                
                50% {
                    -webkit-transform: translateY(-15%);
                        transform: translateY(-15%);
                }
                
                100% {
                    -webkit-transform: translateY(0%);
                            transform: translateY(0%);
                }
                }
        }
    }
    section.sectionFour {
        height: 50vh;
    }
}




